.weight_graph {
    background-color: #fbfbfb;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.weight_graph_infos {
    display: flex;
    justify-content: space-between;
}

.weight_title {
    margin-left: 30px;
}

.weight_graph_infos ul {
    display: flex;
    flex-direction: row;
}

.weight_graph_infos li {
    font-size: 12px;
    margin-left: 25px;
    color: #74798C;
}

.blackDot::marker {
    color: black;
}

.redDot::marker {
    color: #e60000;
}

/* @media screen and (min-width:1024px){
    .weight_graph {
        max-width: 100%;
    }
} */
