.dashboard {
    width: calc(100% - 117px);
}

.welcome {
    color: black;
    padding-left: 50px;
}

.userInfos {
    color: #e60000;
}

.statistiques {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
}

.graphiques {
    padding-left: 15px;
}

.sous_graphiques {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}


@media screen and (min-width:1025px){
    .welcome {
        padding-left: 5%;
    }
    .statistiques {
        max-width: 100%;
    }
    .graphiques {
        max-width: 100%;
        width: 70%;
    }
    .sous_graphiques {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
}